<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <!--Spring configuration-->
    <sectionGroup name="spring">
      <section name="context" type="TSLibWeb.WEB.SpringWebContextHandler,TSLibWeb"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>

    <!--Log configuration-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>

    <!--Struts configuration-->
    <section name="actionHandler.config" type="TSLibStruts.ActionHandlerConfigurator,TSLibStruts"/>
  </configSections>
  <appSettings>
    <add key="ImportFileFileListPath" value="~/importData/ImportDataFileList.txt"/>
  </appSettings>
  <connectionStrings/>

  <!--Spring configuration file format-->
  <spring>
    <context>
      <resource uri="~/Config/spring-*.xml"/>
    </context>
  </spring>

  <!-- Log4Net configuration -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/Config/log4net.xml" />
      </factoryAdapter>
    </logging>
  </common>

  <!--Struts configuration file format-->
  <actionHandler.config>
    <property name="file" value="Config/Struts/Struts-Config_*.xml"/>
  </actionHandler.config>

  <system.web>
    <pages>
      <controls>
        <add tagPrefix="spring" namespace="Spring.Web.UI.Controls" assembly="Spring.Web"/>
      </controls>
    </pages>

    <compilation debug="true" />

    <authentication mode="Windows" />

    <httpHandlers>
      <!--Configuration *.do file dealwith DLL-->
      <add verb="*" path="*Action.do" type="TSLibStruts.ActionHandler,TSLibStruts"/>
      <!--Configuration *.aspx file dealwith DLL-->
      <add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
    </httpHandlers>
    <httpModules>
      <!--Configuration Spring-->
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
      <!--Configutation Struts-->
      <add name="Struts" type="TSLibStruts.Web.Context.StrutsModule, TSLibStruts"/>
      <!--Session check if session not exits page return to FailLoginPage-->
      <!--<add name="AuthenticModule" type="TSLibWeb.AuthenticModule,TSLibWeb"/>-->
    </httpModules>
    <identity impersonate="true"/>
  </system.web>
</configuration>
