div
{	
    FONT-SIZE: 12px; 
    FONT-FAMILY: "宋体", "Arial", "Arial Narrow";
}

div.icon
{
    position: absolute;
    padding-top: 10px;
    width: 72px;
    height: 112px;
}

div.infoIcon
{
    position: absolute;
    left: 12px;
    background-repeat: no-repeat;
    background-image:url(../Images/msgbox/info.JPG);	
    width: 48px;
    height: 48px;	
}

div.questionIcon
{
    position: absolute;
    left: 12px;
    background-repeat: no-repeat;
    background-image:url(../Images/msgbox/question.JPG);	
    width: 48px;
    height: 48px;	
}

div.errorIcon
{
    position: absolute;
    left: 12px;
    background-repeat: no-repeat;
    background-image:url(../Images/msgbox/error.JPG);	
    width: 48px;
    height: 48px;	
}

div.criticalIcon
{
    position: absolute;
    left: 12px;
    background-repeat: no-repeat;
    background-image:url(../Images/msgbox/critical.JPG);	
    width: 48px;
    height: 48px;	
}

div.message
{
    color:#003371;
    font-weight:bold;
}

.meg_wrap
{
    width:393px; 
    height:169px;
}

.meg_1
{
    margin:8px; 
    height:119px; 
}

.meg_pic
{
    height:103px;
    width:48px; 
    float:left; 
    margin:8px;
}

.meg_text
{
    height:115px;
    width:300px; 
    float:left; 
    margin:8px;
}

.meg_2
{
    height:22px; 
    margin-top:12px; 
    padding-right:20px;
}

.meg_button
{
    background-image:url(../Images/msgbox/buttonbg.GIF); 
    border:1px solid #5378A5; 
}

