/*
 * 广州市忆科计算机系统有限公司 版权所有 2006- 2007 
 * 作者：kingchen chenjingcheng@ico.com.cn
 * 日期：2007-09-01
 * 功能：树的样式文件
 */
 
.egd-tree-icon, .egd-tree-ec-icon, .egd-tree-elbow-line, .egd-tree-elbow, .egd-tree-elbow-end, .egd-tree-elbow-plus, .egd-tree-elbow-minus, .egd-tree-elbow-end-plus, .egd-tree-elbow-end-minus{
	border: 0 none;
	height: 18px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	width: 16px;
    background-repeat: no-repeat;
}
.egd-tree-node-collapsed .egd-tree-node-icon, .egd-tree-node-expanded .egd-tree-node-icon, .egd-tree-node-leaf .egd-tree-node-icon{
	border: 0 none;
	height: 18px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	width: 16px;
	background-position:center;
    background-repeat: no-repeat;
}

/* some default icons for leaf/folder */
.egd-tree-node-collapsed .egd-tree-node-icon{
	background-image:url(../../images/default/folder.gif);
}
.egd-tree-node-expanded .egd-tree-node-icon{
	background-image:url(../../images/default/folder-open.gif);
}
.egd-tree-node-leaf .egd-tree-node-icon{
	background-image:url(../../images/default/leaf.gif);
}

/* checkboxes */
.ext-ie input.egd-tree-node-cb {
    width:15px;
    height:15px;
}
input.egd-tree-node-cb {
    margin-left:1px;
}
.ext-ie input.egd-tree-node-cb {
    margin-left:0;
}


.egd-tree-noicon .egd-tree-node-icon{
	width:0; height:0;
}
/* loading icon */
.egd-tree-node-loading .egd-tree-node-icon{
	background-image:url(../../images/default/loading.gif) !important;
}
.egd-tree-node-loading a span{
	 font-style: italic;
	 color:#444444;
}

/* Line styles */
.egd-tree-lines .egd-tree-elbow{
	background-image:url(../../images/default/elbow.gif);
}
.egd-tree-lines .egd-tree-elbow-plus{
	background-image:url(../../images/default/elbow-plus.gif);
}
.egd-tree-lines .egd-tree-elbow-minus{
	background-image:url(../../images/default/elbow-minus.gif);
}
.egd-tree-lines .egd-tree-elbow-end{
	background-image:url(../../images/default/elbow-end.gif);
}
.egd-tree-lines .egd-tree-elbow-end-plus{
	background-image:url(../../images/default/elbow-end-plus.gif);
}
.egd-tree-lines .egd-tree-elbow-end-minus{
	background-image:url(../../images/default/elbow-end-minus.gif);
}
.egd-tree-lines .egd-tree-elbow-line{
	background-image:url(../../images/default/elbow-line.gif);
}

/* No line styles */
.egd-tree-no-lines .egd-tree-elbow{
	background:transparent;
}
.egd-tree-no-lines .egd-tree-elbow-plus{
	background-image:url(../../images/default/elbow-plus-nl.gif);
}
.egd-tree-no-lines .egd-tree-elbow-minus{
	background-image:url(../../images/default/elbow-minus-nl.gif);
}
.egd-tree-no-lines .egd-tree-elbow-end{
	background:transparent;
}
.egd-tree-no-lines .egd-tree-elbow-end-plus{
	background-image:url(../../images/default/elbow-end-plus-nl.gif);
}
.egd-tree-no-lines .egd-tree-elbow-end-minus{
	background-image:url(../../images/default/elbow-end-minus-nl.gif);
}
.egd-tree-no-lines .egd-tree-elbow-line{
	background:transparent;
}

.egd-tree-elbow-plus, .egd-tree-elbow-minus, .egd-tree-elbow-end-plus, .egd-tree-elbow-end-minus{
	cursor:pointer;
}
.ext-ie ul.egd-tree-node-ct{
    font-size:0;
    line-height:0;
}
.egd-tree-node{
	color: black;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
	white-space: nowrap;
}
.egd-tree-node a, .x-dd-drag-ghost a{
	text-decoration:none;
	color:black;
	-khtml-user-select:none;
	-moz-user-select:none;
    -kthml-user-focus:normal;
    -moz-user-focus:normal;
    -moz-outline: 0 none;
    outline:0 none;
}
.egd-tree-node a span, .x-dd-drag-ghost a span{
	text-decoration:none;
	color:black;
	padding:1px 3px 1px 2px;
}
.egd-tree-node .egd-tree-node-disabled a span{
	color:gray !important;
}
.egd-tree-node .egd-tree-node-disabled .egd-tree-node-icon{
	-moz-opacity: 0.5;
   opacity:.5;
   filter: alpha(opacity=50);
}
.egd-tree-node .egd-tree-node-inline-icon{
	background:transparent;
}
.egd-tree-node a:hover, .x-dd-drag-ghost a:hover{
	text-decoration:none;
}
.egd-tree-node div.egd-tree-drag-insert-below{
 	 border-bottom:1px dotted #3366cc;
}
.egd-tree-node div.egd-tree-drag-insert-above{
	 border-top:1px dotted #3366cc;
}
.egd-tree-dd-underline .egd-tree-node div.egd-tree-drag-insert-below{
 	 border-bottom:0 none;
}
.egd-tree-dd-underline .egd-tree-node div.egd-tree-drag-insert-above{
	 border-top:0 none;
}
.egd-tree-dd-underline .egd-tree-node div.egd-tree-drag-insert-below a{
 	 border-bottom:2px solid #3366cc;
}
.egd-tree-dd-underline .egd-tree-node div.egd-tree-drag-insert-above a{
	 border-top:2px solid #3366cc;
}
.egd-tree-node .egd-tree-drag-append a span{
	 background:#dddddd;
	 border:1px dotted gray;
}
.egd-tree-node .egd-tree-selected a span{
	background:#3366cc;
	color:white;
}
.x-dd-drag-ghost .egd-tree-node-indent, .x-dd-drag-ghost .egd-tree-ec-icon{
	display:none !important;
}
.egd-tree-drop-ok-append .x-dd-drop-icon{
  background-image: url(../../images/default/drop-add.gif);
}
.egd-tree-drop-ok-above .x-dd-drop-icon{
  background-image: url(../../images/default/drop-over.gif);
}
.egd-tree-drop-ok-below .x-dd-drop-icon{
  background-image: url(../../images/default/drop-under.gif);
}
.egd-tree-drop-ok-between .x-dd-drop-icon{
  background-image: url(../../images/default/drop-between.gif);
}
