/* 
 * 主页相关样式
 * 2007-12-01 Tony
 */
body{
	/* 设置IE的滚动条*/
	scrollbar-shadow-color: #dee3e7; 
	scrollbar-3dlight-color: #d1d7dc;
	scrollbar-arrow-color: #006699;
	scrollbar-track-color: #efefef;
	scrollbar-darkshadow-color: #98aab1;
	scrollbar-face-color: #dee3e7;
	background-color:#EAEFF8;
	}
html, body {
    font:normal 12px 宋体;
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
	background-color:#EAEFF8;
}

/* 搜索区的图标 */
.egd-icon-search {
    background-image:url(../images/search.gif);
}

/* 导航条的图标 */
.egd-icon-nav {
    background-image:url(../images/nav.gif);
}

/* 默认页签的图标 */
.egd-icon-default {
    background-image: url(../images/tabIcon_egrand_qt.gif) !important;
}

/* 首页页签图标 */
.egd-icon-firstTab {
    background-image: url(../images/tabIcon_egrand_home.gif) !important;
}

/* 默认权限Url节点的图标 */
.egd-icon-privilege {
    background-image: url(../images/tree.gif) !important;
}

/* 默认对话框的图标 */
.egd-icon-dlg {
    background-image: url(../images/dlgIcon_default.gif) !important;
}

/* 页面加载动画 */
.loading-indicator {
    font-size:11px;
    background-image:url('../../egd_platform/ext/resources/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position:top left;
    padding-left:20px;
	height:18px;
	text-align:left;
}
#loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
    height:auto;
}
#loading img {
    margin-bottom:5px;
}
#loading .loading-indicator{
	background:white;
	color:#555;
	font:bold 12px 宋体;
	padding:10px;
	margin:0;
    text-align:center;
    height:auto;
}

/* 页签加载动画 */
#main-panel .loading-indicator {
    font:bold 12px 宋体;
    position:absolute;
    top:35%;
    left:43%;
    color:#444;
    background-image:url(../../egd_platform/ext/resources/images/default/shared/large-loading.gif);
    background-repeat: no-repeat;
    background-position:left 5px;
    padding:10px 10px 10px 38px;
	text-align:left;
}
#main-panel .x-tab-panel-body {
    background:#fff url(../../egd_platform/ext/resources/images/default/form/text-bg.gif) repeat-x 0 0;
}
#main-panel .x-panel-body, #doc-body .body-wrap {
    background:transparent !important;
}


#nav-panel a span {
    font-family:宋体;
    font-size:12px;
}
#nav-panel .egd-icon-privilege a:hover span {
    text-decoration:underline;
}
#nav-panel .x-panel-body {
    background-color:#E5EBF8;
    position:relative;
    padding:3px;
}
#nav-panel .egd-icon-privilege{
    border:1px;
}

#nav-panel .x-tree-selected {
    border:1px dotted #a3bae9;
    background:#DFE8F6;
}
#nav-panel  .x-tree-node .x-tree-selected a span{
	background:transparent;
	color:#1E4176;
    font-weight:bold;
}

a {
	color: #1E4176;
}
a:link {
	color: #1E4176;
	text-decoration: none;
}

a:visited {
   color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #15428b;
}

/* 页脚背景 */
.bottom{
	width:100%;
	height:20px;
	background-image:url(../images/bottom/bottombg.gif);
}
