.egd-date-picker {
   	border: 1px solid #5F80AD;
    background:#fff;
	position:absolute;
	font:normal 12px '宋体',arial, helvetica,tahoma,sans-serif;
}
.egd-date-picker table{
	width:100%;
	height:100%;
}
.egd-date-button{
	text-decoration:none;
	text-align:center;
	text-decoration:none !important;
	background:#083772;
	color:white;
	border:1px solid;
	border-color: #3366cc #000055 #000055 #3366cc;
	padding:1px 3px 1px;
	font:normal 11px arial, helvetica,tahoma,sans-serif;
	cursor:pointer;
	margin: 1px 2px;
}
.egd-date-time a{
	text-align: center;
	text-decoration:none;
	color:#000;
	font:normal 11px arial, helvetica,tahoma,sans-serif;
	margin: 1px 2px;
}
.egd-date-moveBar{
	height:5px;
	background-image:url(../../images/default/topbg.gif);
	cursor: move;
}
.egd-hour,.egd-minute,.egd-second{
	width:14px;
}
.egd-date-picker a {
    -moz-outline:0 none;
    outline:0 none;
}
.egd-date-inner, .egd-date-inner td, .egd-date-inner th{
    border-collapse:separate;
}
.egd-date-middle,.egd-date-pmonth,.egd-date-nmonth,.egd-date-pyear,.egd-date-nyear {
	background: url(../../images/default/hd-sprite.gif) repeat-x 0 -83px;
	color:#FFF;
	font:bold 11px "sans serif", tahoma, verdana, helvetica;
	overflow:hidden;
	line-height:16px;
}

.egd-date-middle .egd-btn-left,.egd-date-middle .egd-btn-center,.egd-date-middle .egd-btn-right{
	background:transparent !important;
    vertical-align:middle;
}
.egd-date-middle{
    color:#fff;
}
.egd-date-middle a {
    color:CaptionText;
	display:block;
	font-weight:bold !important;
	width:100%;
	text-decoration:none;
}
.egd-date-nmonth, .egd-date-pmonth,.egd-date-nyear, .egd-date-pyear {
    width:18px;
}
.egd-date-nmonth,.egd-date-nyear{
    text-align:right;
}

.egd-date-middle {
    padding-top:2px;
    padding-bottom:2px;
}
.egd-date-nmonth a, .egd-date-pmonth a,.egd-date-nyear a, .egd-date-pyear a{
    display:block;
    width:16px;
	background-position: center;
	background-repeat: no-repeat;
	cursor:pointer;
    -moz-opacity: 0.6;
    opacity:.6;
    filter: alpha(opacity=60);
    color:#fff;
}
.egd-date-nmonth a:hover, .egd-date-pmonth a:hover,.egd-date-nyear a:hover, .egd-date-pyear a:hover{
    -moz-opacity: 1;
    opacity:1;
    filter: alpha(opacity=100);
}
.egd-date-nmonth a {
    background-image: url(../../images/default/right-btn.gif);
    margin-right:2px;
    text-decoration:none !important;
}
.egd-date-pmonth a{
	background-image: url(../../images/default/left-btn.gif);
    margin-left:2px;
    text-decoration:none !important;
}
.egd-date-nyear a {
    background-image: url(../../images/default/right-y-btn.gif);
    margin-right:2px;
    text-decoration:none !important;
}
.egd-date-pyear a{
	background-image: url(../../images/default/left-y-btn.gif);
    margin-left:2px;
    text-decoration:none !important;
}
table.egd-date-inner {
    width:100%;
    table-layout:fixed;
}
.egd-date-inner th {
    width:25px;
}
.egd-date-inner th {
    background: #dfecfb url(../../images/default/glass-bg.gif) repeat-x left top;
    text-align:right !important;
	border-bottom: 1px solid #a3bad9;
    font:normal 10px arial, helvetica,tahoma,sans-serif;
	color:#233d6d;
	cursor:default;
    padding:0;
    border-collapse:separate;
}
.egd-date-inner th span {
    display:block;
    padding:2px;
    padding-right:7px;
}
.egd-date-inner td {
    border: 1px solid #fff;
	text-align:right;
    padding:0;
}
.egd-date-inner a {
    padding:2px 5px;
    display:block;
    font:normal 11px arial, helvetica,tahoma,sans-serif;
	text-decoration:none;
    color:black;
    text-align:right;
    zoom:1;
}
.egd-date-inner .egd-date-active{
	cursor:pointer;
	color:black;
}
.egd-date-inner .egd-date-selected a{
	background: #dfecfb url(../../images/default/glass-bg.gif) repeat-x left top;
	border:1px solid #8db2e3;
    padding:1px 4px;
}
.egd-date-inner .egd-date-today a{
	border: 1px solid darkred;
    padding:1px 4px;
}
.egd-date-inner .egd-date-selected span{
    font-weight:bold;
}
.egd-date-inner .egd-date-prevday a,.egd-date-inner .egd-date-nextday a {
	color:#aaaaaa;
    text-decoration:none !important;
}

.egd-date-time {
	font:bold 11px "sans serif", tahoma, verdana, helvetica;
    padding:2px;
    border-top: 1px solid #a3bad9;
    background: #dfecfb url(../../images/default/glass-bg.gif) repeat-x left top;
}

.egd-date-time a{
	display:block;
	width:30px;
	border: 1px solid #fff; 
}
.egd-date-bottom {
    padding:8px 4px;
    border-top: 1px solid #a3bad9;
    background: #dfecfb url(../../images/default/glass-bg.gif) repeat-x left top;
    height: auto;
}

.egd-date-inner a:hover, .egd-date-inner .egd-date-disabled a:hover{
    text-decoration:none !important;
    color:black;
    background: #ddecfe;
}

.egd-date-inner .egd-date-disabled a {
	cursor:default;
	background:#eeeeee;
	color:#bbbbbb;
}


.egd-date-mp,.egd-date-tp {
	position:absolute;
	left:0;
	top:0;
	background:white;
}
.egd-date-mp td{
    padding:2px;
	font:normal 11px arial, helvetica,tahoma,sans-serif;
}
.egd-date-tp td {
	padding:1px;
	font:normal 11px arial, helvetica,tahoma,sans-serif;
}
td.egd-date-mp-month,td.egd-date-mp-year,td.egd-date-mp-ybtn,td.egd-date-tp-time,td.egd-date-tp-ybtn{
    border: 0 none;
	text-align:center;
	vertical-align: middle;
	width:25%;
}
td.egd-date-tp-time,td.egd-date-tp-ybtn{
	width:17%;
}
.egd-date-mp-ok,.egd-date-tp-ok {
	margin-right:3px;
}
.egd-date-picker button {
	text-decoration:none;
	text-align:center;
	text-decoration:none !important;
	background:#083772;
	color:white;
	border:1px solid;
	border-color: #3366cc #000055 #000055 #3366cc;
	padding:1px 3px 1px;
	font:normal 11px arial, helvetica,tahoma,sans-serif;
	cursor:pointer;
}
.egd-date-mp-btns,.egd-date-tp-btns {
	background: #dfecfb url(../../images/default/glass-bg.gif) repeat-x left top;
}
.egd-date-mp-btns td,.egd-date-tp-btns td {
	border-top: 1px solid #c5d2df;
    text-align:center;
}
td.egd-date-mp-month a,td.egd-date-mp-year a{
	display:block;
	padding:2px 4px;
	text-decoration:none;
	text-align:center;
	color:#15428b;
}
td.egd-date-tp-time a {
	display:block;
	padding:1px 1px;
	text-decoration:none;
	text-align:center;
	color:#15428b;
}

td.egd-date-mp-month a:hover,td.egd-date-mp-year a:hover,td.egd-date-tp-time a:hover{
	color:#15428b;
	text-decoration:none;
	cursor:pointer;
	background: #ddecfe;
}

td.egd-date-mp-sel a,td.egd-date-tp-sel a{
	padding:1px 3px;
	background: #dfecfb url(../../images/default/glass-bg.gif) repeat-x left top;
	border:1px solid #8db2e3;
}
.egd-date-mp-ybtn a {
    overflow:hidden;
    width:15px;
    height:15px;
    cursor:pointer;
    background:transparent url(../../images/default/tool-sprites.gif) no-repeat;
    display:block;
    margin:0 auto;
}
.egd-date-mp-ybtn a.egd-date-mp-next {
    background-position:0 -120px;
}
.egd-date-mp-ybtn a.egd-date-mp-next:hover {
    background-position:-15px -120px;
}
.egd-date-mp-ybtn a.egd-date-mp-prev {
    background-position:0 -105px;
}
.egd-date-mp-ybtn a.egd-date-mp-prev:hover {
    background-position:-15px -105px;
}
.egd-date-mp-ybtn {
   text-align:center;
}
td.egd-date-mp-sep {
   border-right:1px solid #c5d2df;
}

td.egd-date-tp-sep {
   border-right:1px solid #c5d2df;
}

.egd-dateTimeField,.egd-dateField{
	width: 175px;
  	height:18px;
  	background-repeat: no-repeat;
  	background-image:url(../../images/default/calendar.gif);
  	cursor: pointer;
	background-position: 99% center;
	border:1px solid #74a6d5;
}
.egd-selDate{
	width: 20px;
  	height:18px;
  	background-repeat: no-repeat;
  	background-image:url(../../images/default/calendar.gif);
  	cursor: pointer;
  	display: block;
  	float: left;  
}
.egd-selDateTime{
	width: 20px;
  	height:18px;
  	background-repeat: no-repeat;
  	background-image:url(../../images/default/calendar.gif);
  	cursor: pointer;
  	display: block;
  	float: left;  	
}