<objects xmlns="http://www.springframework.net">
  <description>Spring Context配置文件</description>
  <!-- 组织架构：级别 -->
  <object id="ModelDao" type="TSCommon_Core.Security.Dao.Hibernate.ModelDao, TSCommon_Core">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ModelServiceTarget" type="TSCommon_Core.Security.Service.ModelService, TSCommon_Core">
    <property name="ModelDao" ref="ModelDao" />
  </object>
  <object id="ModelService" parent="TxProxyConfigurationTemplate">
    <property name="Target" ref="ModelServiceTarget"/>
    <property name="ProxyInterfaces" value="TSCommon_Core.Security.Service.IModelService"/>
  </object>
</objects>
