<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <description>NHibernate的Spring配置文件</description>

  <!-- Property placeholder configurer for database settings
  <object type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
    <property name="ConfigSections">
      <list>
        <value>appSettings</value>
      </list>
    </property>
  </object>
  <object id="DbProvider" type="Spring.Data.Common.DbProviderFactoryObject,Spring.Data">
    <property name="Provider" value="SqlServer-2.0"/>
    <property name="ConnectionString" value="server=localhost;user id=sa;pwd=password;database=itsm"/>
  </object>
 -->
  <!-- 使用非加密属性文件的Hibernate Properties -->
  <object id="HibernateProperties" type="TSLib.Session.LocalHibernateProperties,TSLib">
    <property name="PropertiesFile" value="~/Config/NHibernate.properties" />
    <property name="HibernateProperties">
      <dictionary key-type="string" value-type="string">
        <entry key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
        <entry key="hibernate.connection.isolation" value="ReadCommitted" />
        <entry key="hibernate.show_sql" value="false" />
      </dictionary>
    </property>
  </object>

  <!-- Hibernate SessionFactory -->
  <object id="SessionFactory" type="TSLib.Session.LocalSessionFactory,TSLib">
    <!--<property name="DbProvider" ref="DbProvider"/>-->
    <property name="MappingDirectories">
      <list>
        <value>Hbm</value>
      </list>
    </property>
    <property name="HibernateProperties" ref="HibernateProperties" />
  </object>

  <!-- Hibernate 事务管理器 -->
  <object id="HibernateTransactionManager"
        type="Spring.Data.NHibernate.HibernateTransactionManager, Spring.Data.NHibernate20">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>

  <!-- Hibernate 事务代理模版 -->
  <object id="TxProxyConfigurationTemplate" abstract="true"
        type="Spring.Transaction.Interceptor.TransactionProxyFactoryObject, Spring.Data">
    <property name="PlatformTransactionManager" ref="HibernateTransactionManager"/>
    <!--
    <property name="ProxyInterfaces" value="SpringTest.Manager.IBaseManager"/>
    -->
    <property name="TransactionAttributes">
      <name-values>
        <add key="Get*" value="PROPAGATION_REQUIRED"/>
        <add key="Load*" value="PROPAGATION_REQUIRED"/>
        <add key="Save*" value="PROPAGATION_REQUIRED"/>
        <add key="Delete*" value="PROPAGATION_REQUIRED"/>
        <add key="Find*" value="PROPAGATION_REQUIRED"/>
        <add key="Do*" value="PROPAGATION_REQUIRED"/>
        <add key="Copy*" value="PROPAGATION_REQUIRED"/>
      </name-values>
    </property>
  </object>
</objects>
