/*
 * 表格样式配置
 * @author dragon
 * @date 2007-08-21
 */
/*--------表格头样式开始--------*/
html{
padding:0 !important;
padding:100px 0;
width:100%;
height:100%;
overflow:hidden;
}
body{
padding:100px 0;
padding:/**/0;
height:100%;
overflow: hidden;
}
/*grid背景颜色*/
.egd-grid-bg{
	background-color:#F8FAFD;
}
/* 表格头的容器 */
.egd-grid-header {
	height: 22px;
	border: 0px solid blue;
	padding: 0;
	margin: 0;
	background-color: #EFECDD;
}

/* 表格头table */
.egd-grid-header-table {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	border: 0px solid black;
	table-layout:fixed;
}

/* 表格头table的tr */ 
.egd-grid-header-tr {
	border: 0px;
	background-repeat: repeat-x;
	background-image: url(../../images/default/header_bg.gif);
	background-position: bottom;
}

/* 表格头table的td */
.egd-grid-header-td {
	height: 22px;
	line-height:22px;
	padding: 0;
	margin: 0;
	border-color: #000000;
	border-style: solid;
	border-width: 0px;
}

/* 表格头table最后列的td */
.egd-grid-header-td-end {
	border: 0px;
	line-height:20px;
}
/*--------表格头样式结束始--------*/

/*--------表格内容样式开始--------*/
/* 表格内容的容器 */
.egd-grid-content {
	border: 0px solid blue;
	padding: 0;
	margin: 0;
	vertical-align: top;
	/*background-color: gray;*/
}

/* 表格内容table */
.egd-grid-content-table {
	padding: 0;
	margin: 0;
	width: 100%;
	border: 0px solid black;
	table-layout:fixed;
}

/* 表格内容table的tr--奇数行 */
.egd-grid-content-tr {
	border: 0px;
	background-color: #FFFFFF;
	height:22px;
}

/* 表格内容table的tr--偶数行 */
.egd-grid-content-tr1 {
	border: 0px;
	background-color: #F5F2F2;
	height:22px;
}

/* 表格内容table的tr--行被选中时 */
.egd-grid-content-tr-selected {
	border: 0px;
	background-color: #C3D5FD;
	height:22px;
}

/* 表格内容table的tr--鼠标悬停在行上时 */
.egd-grid-content-tr-mouseover {
	border: 0px;
	background-color: #D9E8FB;
	height:22px;
	color:#004A80;
}

/* 表格内容table的td--奇数行 */
.egd-grid-content-td {
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	vertical-align:middle;
	border-bottom:1px solid #E2E1E1;
}

/* 表格内容table的td--偶数行 */
.egd-grid-content-td1 {
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-bottom:1px solid #E2E1E1;
}

/* 表格内容table最后列的td--奇数行 */
.egd-grid-content-td-end {
	border: 0px;
	background-color:#F8FAFD;
}

/* 表格内容table最后列的td--偶数行 */
.egd-grid-content-td-end1 {
	border: 0px;
	background-color:#F8FAFD;
}

/* 表格内容table的td内的div的样式 */
.egd-grid-content-td-text {
	width:100%;
	height:100%;
	padding:0px;
	height:20px;
	line-height:20px;
	text-indent:2px;
	margin:0px;
	overflow:hidden;
	border:0px red solid;
	clear:left;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
	text-overflow: ellipsis;
	/*-o-text-overflow: ellipsis;*/
}
.egd-grid-content-id-img {
	width:25px;
	height:20px;
	padding:0px;
	margin-top:2px;
	margin-left:-10px!important;
	margin-left:3px;
	overflow:hidden;
	border:0px;
	background-repeat: no-repeat;
	background-image:url(../../images/default/row_id_img.gif);
	background-position:0px 0px;
	
}
.egd-grid-content-id-checkbox {
	width:25px;
	height:20px;
	padding:0px;
	margin-top:2px;
	margin-left:-10px!important;
	margin-left:3px;
	overflow:hidden;
	border:0px solid ;
	background-repeat:no-repeat;
	background-image:url(../../images/default/row_id_checkbox.gif);
	background-position:0px 0px;
}
.egd-grid-content-id-option {
	width:25px;
	height:20px;
	padding:0px;
	margin-top:2px;
	margin-left:-10px!important;
	margin-left:3px;
	overflow:hidden;
	border:0px black solid;
	background-repeat: no-repeat;
	background-image:url(../../images/default/row_id_option.gif);
	background-position:0px 0px;
}
/*--------表格内容样式结束--------*/

/*--------表格头单元格分隔条样式开始--------*/
/*列宽变动时显示的分隔条*/
.egd-grid-separateLine {
	position:absolute;
	z-index:99;
	width:2px;
	height:10px;
	background-color:#3388ff;
}

/*不可变列宽列头的分隔条*/
.egd-grid-columnSeparator {
	cursor:default;
	width:2px;
	padding: 0px;
	margin-top:2px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	height:12px;
	float:right;
	position:relative;
	right:-1px;
	z-index:9;
	background-repeat: no-repeat;;
	background-position: center right ;
	background-image:url(../../images/default/colSeparator.gif);
	border:0px black solid;
}

/*可变列宽列头的分隔条*/
.egd-grid-columnResizeableSeparator {
	-moz-user-select:none;
	-khtml-user-select:none;
	cursor:e-resize;
	width:4px;
}
/*--------表格头单元格分隔条样式结束--------*/

.egd-grid-headerTitle {
	cursor:inherit;
	width:90% !important;
	width:100% ;
	-moz-user-select:none;
	-khtml-user-select:none;
	display:block;
	padding-top:0px;  /*07-12-17 修改,原padding-top:3px;*/
	padding-left:0px; /*07-12-17 修改,原padding-left:3px;*/
	margin:0px;
	margin-top:1px;
	text-align:center;
	overflow:hidden;
	border:0px red solid;
	clear:left;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.egd-grid-header-sort-empty {
	width:1px;
	height:1px;
	display:none;
}
.egd-grid-header-sort-asc {
	width:9px;
	height:4px;
	overflow:hidden;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-image:url(../../images/default/sort_asc.gif);
}
.egd-grid-header-sort-desc {
	width:9px;
	height:4px;
	overflow:hidden;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-image:url(../../images/default/sort_desc.gif);
}

/*--------分页条样式开始--------*/
/* 分页条所在表格行 */
.egd-grid-page {
	height: 30px;
	border: 0px solid blue;
	padding: 0;
	margin: 0;
	vertical-align: top;
	/*background-color: gray;*/
}

/* 分页条容器 */
.egd-grid-pageTB {
	height: 30px;
	width:100%;
	padding: 0px;
	margin: 0;
	border-style: solid;
	border-color: #A9BFD3;
	border-width:1px 0px 0px 0px;
	background-repeat: repeat-x;;
	background-image:url(../../images/default/page_bg.gif);
	overflow:hidden;
}
/*链接的文字为黑色*/
.egd-grid-content-table a{
	text-decoration:none; 
	COLOR:#000000; 
}
/*鼠标悬停在TR上时,链接的文字为白色*/
.egd-grid-content-tr-mouseover a{
	text-decoration:none; 
	COLOR:#004A80; 
}
/*鼠标悬停在a上时,链接的文字为黄色*/
.egd-grid-content-tr-mouseover a:hover{
	text-decoration:none; 
	COLOR:#A0410A; 
}
/*弹出对话框里的Grid边框*/
.egd-grid-dlg-div{
	border:1px solid #A3CAE7;
}

/*-----仿EXT2.0的Grid效果---------CSM 2008-7-24--------------*/
.egd-extGrid-top-trBg{
	height:23px;
	background-image:url(../../images/default/extGrid-top-trBg.gif);
}
/*表头TD中的文字向右移3PX*/
.egd-extGrid-top-trBg td{ text-indent:3px;}
.egd-extGrid-top-tdL{
	height:23px; line-height:23px;
	border-right:1px solid #C7C5C5;
	border-bottom:1px solid #C7C5C5; 
}
.egd-extGrid-top-tdC{
	height:23px; line-height:23px;
	border-left:1px solid #FFFFFF; 
	border-right:1px solid #C7C5C5; 
	border-bottom:1px solid #C7C5C5;
}
.egd-extGrid-top-tdR{
	height:23px; line-height:23px;
	border-left:1px solid #FFFFFF; 
	border-bottom:1px solid #C7C5C5;
}
.egd-extGrid-content-trBg{
	height:22px;
}
/*容器TD中的文字向右移3PX*/
.egd-extGrid-content-trBg td{ text-indent:3px;}
.egd-extGrid-content-tdL{
	height:22px; line-height:22px;
	border-right:1px solid #E2E1E1; 
	border-bottom:1px solid #E2E1E1;
}
.egd-extGrid-content-tdC{
	height:22px; line-height:22px;
	border-right:1px solid #E2E1E1; 
	border-bottom:1px solid #E2E1E1;
}
.egd-extGrid-content-tdR{
	height:22px; line-height:23px;
	border-bottom:1px solid #E2E1E1;
}
/*鼠标触到时TR背景*/
.egd-extGrid-content-tr-over{
	height:22px;
	background-color:#D9E8FB;
}
/* 表格内容table的td内的div的样式 */
.egd-extGrid-Td-DivText {
	width:100%;
	height:100%;
	padding:0px;
	height:22px;
	line-height:22px;
	text-indent:2px;
	margin:0px;
	overflow:hidden;
	border:0px red solid;
	clear:left;
	white-space:nowrap;word-break:keep-all;word-wrap:normal;
	text-overflow: ellipsis;
	/*-o-text-overflow: ellipsis;*/
}
/*鼠标触TD中的文字向右移3PX到*/
.egd-extGrid-content-tr-over td{ text-indent:3px;}

/*容器单数行背景*/
.grid-content-trBg-simple{
	background-color:#FFFFFF;
}
/*容器双数行背景*/
.grid-content-trBg-dual{
	background-color:#F5F2F2;
}
/*-----仿EXT2.0的Grid效果--------END---------------*/
