/*
 * 广州市忆科计算机系统有限公司
 * 作者：Tony rongjih@21cn.com 2007-07-01
 * 功能：页面布局样式设置(整体布局、工具条定位)
*/
@import url(dlg.css);
/* 页面布局表格 */
.egd-page-table{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	table-layout:auto;
	border: 0px solid black;
}

/**** 工具条样式配置--开始 ****/
/* 放置工具条的表格行 */
.egd-page-tb-tr{
	height: 30px;
	overflow:hidden;
}

/* 放置工具条的单元格 */
.egd-page-tb-td{
	border: 0px solid black;
	text-align: left;
	vertical-align: top;
	overflow:hidden;
}

/* 放置工具条的div容器 */
.egd-page-content-tbContainer{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 30px;
	background-repeat: repeat-x;
	background-image:url(../images/page/toolbar_bg.gif);
	margin: 0px;
	padding: 0px;		/*必须为0,否则IE6出现水平滚动条*/
	position: fixed;	/*加上这句对IE6无效,而IE7,FF则可固定工具条*/
	z-index: 2;			/*与div.headTitle对应(在文件Form.css),避免上下滚动内容时div.headTitle遮住工具条*/
	border:0px solid blue;
	overflow:hidden;
}
/**** 工具条样式配置--结束 ****/

/**** 内容区样式配置--开始 ****/
/* 放置页面内容的表格行 */
.egd-page-content-tr{
	border: 0px solid blue;
	vertical-align:middle;
	overflow:hidden;
}

/* 放置页面内容的单元格 */
.egd-page-content-td{
	border: 0px solid blue;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	background-color:#F8FAFD;
}
.egd-page-content-td-search{
	border: 0px solid blue;
	border-top:1px solid #A2CBE8;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	background-color:#F8FAFD;
}

/* 内容区放置grid的div容器 */
.egd-page-content-gridContainer{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	border: 0px solid black;
	text-align:left;
	vertical-align: middle;
	overflow: auto;
}

/* 内容区放置grid的单元格(带树时使用) */
.egd-page-content-grid-td{
	margin: 0px;
	padding: 0px;
	border: 0px solid black;
	text-align:left;
	vertical-align: middle;
}

/* 内容区放置tree的单元格(带树时使用) */
.egd-page-content-tree-td{
	margin: 0px;
	padding: 0px;
	width: 180px;
	border-width: 0px 0px 0px 0px;
	border-style: solid;
	border-color: blue;
	text-align:left;
	vertical-align: middle;
}

/* tree和grid间的分隔条(带树时使用) */
.egd-page-content-seperator-td{
	margin: 0px;
	padding: 0px;
	width: 5px;
	border: 0px solid blue;
	background-repeat: repeat-y;
	background-image: url(../images/page/seperator.gif);
}

/* 内容区放置tree的div容器(带树时使用) */
.egd-page-content-treeContainer{
	background-color:#F3F7FA;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	border: 0px solid black;
	text-align:left;
	overflow: auto;
}
/**** 内容区样式配置--结束 ****/

/**** 表单样式配置--开始 ****/
/* 包含整个表单所有信息的表格 */
.egd-page-formTable{
	margin: 0px 0px 0px 5px;
	padding: 0px;
	width: 600px;
	height: 100%;
	vertical-align: top;
	border-color: #76ABD3;
	border-style: solid;
	border-width:1px 0px 0px 0px;
}
.egd-page-formContainer{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 600px;
	height: 100%;
	border: 0px solid blue;
	vertical-align: top;
	/*background-color:#F2F2F3;*/
	overflow:auto;
}
/* 大标题的表格行 */
.egd-page-title-tr{
	margin: 0px;
	padding: 0px;
	height: 50px;
	border: 0px solid black;
	vertical-align: top;
}
/* 大标题的单元格 */
.egd-page-title-td{
	border: 0px solid black;
	text-align:left;
	vertical-align: top;
}

/* 大标题的div容器 */
.egd-page-titleContainer{
	margin: 5px;
	padding: 5px 0px 0px 2px;
	width: 100%;
	height: 30px;
	border: 0px solid black;
	text-align:left;
	overflow: hidden;
	font-size: 18px;
	font-weight:bold;
	font-style: italic;
	color:#224D7E;
	border-bottom:1px solid #F2F2F2;
}
/* 大标题的单元格 */
.egd-page-form-td{
	border: 0px solid black;
	text-align:left;
	vertical-align: top;
	padding: 0px 0px 0px 0px;
}
/* 表单form标签 */
.egd-form{
	padding: 0px;
	margin: 0px;
	width: 100%;
	border:0px solid black;
}

/* 表单描述性信息的容器 */
.egd-form-headInfo{
	width: 100%;
	height: 27px;
	line-height: 27px;
	border: 0px solid blue;
	padding: 0px;
	overflow: hidden;
	background-repeat: repeat-x;
	background-image: url(../images/page/form_headInfo_bg.jpg);
	border-color: #76ABD3;
	border-style: solid;
	border-width:0px 1px 0px 1px;
}

/* 表单左的描述性信息 */
.egd-form-headInfo .egd-form-headInfo-left{
	height: 27px;
	line-height: 27px;
	text-align: left;
	border:0px solid black;
	float:left;
	padding-left:12px;
	background-repeat: no-repeat;
	background-image: url(../images/page/form_headInfo_left_bg.jpg);
	font-weight:bold;
}

/* 表单右边的描述性信息(通常为创建信息) */
.egd-form-headInfo .egd-form-headInfo-right{
	height: 27px;
	line-height: 27px;
	text-align: right;
	border:0px solid black;
	float:right;
	padding-right:8px;
}

/* 包含表单属性域的table */
.egd-form-fieldsTable{
	width: 100%;
	background-color:#F4F6F9;
	border-color: #76ABD3;
	border-style: solid;
	border-width:0px 1px 1px 1px;

}
.egd-form-emptyTR{
	height: 2px;
	line-height:2px;
}

/* 表单内部的分隔条 */
.egd-form-separator{
	width: 100%;
	height: 8px;
	line-height:5px;
	border:0px solid blue;
}
/* 表单内部页签的div容器 */
.egd-form-tabsContainer {
	width: 100%;
	height: 200px;
	border:1px solid black;
	text-align: left;
}

.egd-form-label{
	color:#195775;
	text-align: right;
	vertical-align: middle;
	padding-right: 2px;
	font-family:"宋体";
	/*width:80px;*/
}

.egd-form-topLabel{
	color:#195775;
	text-align: right;
	vertical-align: top;
	padding-right: 2px;
	padding-top: 2px;
	font-family:"宋体";
	/*width:80px;*/
}

.egd-property {
	vertical-align: top;
}

.egd-property input {
	width: 100%;
}

.egd-property select {
	width: 100%;
}

.egd-property textarea {
	width: 100%;
	padding-left: 2px;
	padding-top: 2px;
	text-align: left;
	overflow: auto;
}

.egd-form-field{
	background: #FFFFFF;
	border-bottom: 1px solid #B0D7F2;
	border-right: 1px solid #B0D7F2;
	border-left: 1px solid #2A72A3;
	border-top:1px solid #2A72A3; 
	color:#000066;
	padding-left: 2px;
	text-decoration:none;
}

.egd-form-zdField{
	background: #DCDCDC;
	border-bottom: 1px solid #D4D0C8;
	border-right: 1px solid #D4D0C8;
	border-left: 1px solid #808080;
	border-top:1px solid #808080; 
	color:#000066;
	padding-left: 2px;
	padding-top: 2px;
	text-decoration:none;
}

.egd-form-btField{
	background: #F2F8FB;
	border-bottom: 1px solid #B0D7F2;
	border-right: 1px solid #B0D7F2;
	border-left: 1px solid #3881B2;
	border-top:1px solid #3881B2; 
	color:#000066;
	padding-left: 2px;
	padding-top: 2px;
	text-decoration:none;
}
/*解决input 100% 时撑开问题*/
.egd-page-form-wrap table{
	table-layout:fixed;
}
input textarea{
	overflow:no;
}
/**** 表单样式配置--结束 ****/
/*定义表单水平对齐状态,默认左对齐,如果改为中间或右对齐,则.egd-form-title-warp也要修改,见说明.*/
.egd-form-align{
	text-align:left; /*左对齐(left),为中间(center),右对齐(right)*/
}
/*表单整个宽度*/
.egd-form-pageWidth{
	width:720px; /*默认720px,适用两列信息*/
}
/*表单标题背景*/
.egd-form-title-warp{
	/*默认左对齐背景*/
	background-image:url(../images/page/title-warpBg.jpg); 
	/*中间或右对齐背景
	background-image:url(../images/page/title-warpBgCR.jpg); */
	background-repeat:no-repeat;
	height:46px; 
	background-position: left bottom;
	vertical-align:bottom;
}
/*标题文字*/
.egd-page-title-text{
	margin-top:20px;
	font-size:14px; 
	font-weight:bold; 
	color:#1D436D; 
	text-indent:10px; 
	vertical-align:bottom;
}
/*标题表单右边信息文字宽度*/
.egd-page-title-infoWidth{
	margin-top:20px;
	width:350px;
	vertical-align:bottom; 
	text-align:right;
}
.egd-page-form-wrap{
padding:6px;
clear:both; 
}
/*表单边颜色和背景颜色 */
.egd-page-form-tableBorder{
	border:1px solid #76ABD3; 
	background-color:#FFFFFF;
	padding:5px; 
	clear:both; 
	
}
/*选项卡背景为白色*/
.egd-tab-content table{
	width:99%;
}

/*视图整个宽度***********************************/
.egd-view-pageWidth{
	width:100%; /*默认100%*/
}
/*视图标题背景*/
.egd-view-title-warp{
	background-image:url(../images/page/title-warpBg.jpg); 
	background-repeat:no-repeat; 
	height:30px; 
	background-position: left top;
	vertical-align:bottom;
}
.egd-view-titleBg{
	border-bottom:1px solid #C3D599;;
}

/*简易滚动样式***************************/
.egd-page-overflow{
	position:absolute;
	width:100%;
	height:100%;
	overflow: auto;
}
/**设置Tab Iframe 的宽度*/
.egd-page-tab_IW{
/*.egd-form-pageWidth宽度为720*/
	width: 98%;
} 
/*选项卡宽度*/
.egd-form-tabWidth{
	width:732px!important;width:720px;
}
.egd-form-tabWidth-attachment{
	width:730px!important;width:718px;
}
/*对话框中的表单背景*/
.egd-form-dlgBg{
	background-color:#F8FAFD;
	border:1px solid #B5D4EB; 
}
.egd-form-dlgBg-WB{
	background-color:#F8FAFD;
}
/*对话框中域标题*/
.egd-form-dlg-areaTitle{
	height:23px; line-height:23px; text-indent:5px; color:#003366; font-weight:bold;
}
/*对话框按钮对齐，条件查询按钮*/
.egd-form-dlg-btn-align{float:right;}
/*卡项中的表单背景*/
.egd-form-tabBg{
	background-color:#FFFFFF;
}
/*卡项中的标题背景*/
.egd-page-tabTitleTopBg{
	background-image:url(../images/page/title_topbg.gif); 
	border:1px solid #ADD5EE; 
	height:18px; 
	line-height:18px; 
	text-indent:5px; 
	font-weight:bold; 
	color:#006699;
}
/*隔开样式,有4个方向*/
.egd-page_partitionTop{
	margin-top:5px;
}
.egd-page_partitionRight{
	margin-right:5px;
}
.egd-page_partitionBottom{
	margin-bottom:5px;
}
.egd-page_partitionLeft{
	margin-left:5px;
}
/*按钮背景*/
.form-button-default{
	background-image:url(../images/page/button-default.gif);
	border:0px;
	width:62px; 
	height:21px;
}
.egd-page-buttom-tabbg1{
	border:0px;
	background-image:url(../images/page/button-tabbg1.gif); 
	width:56px; 
	height:20px; 
	margin-right:4px;
	cursor:pointer;
}
.egd-page-buttom-tabbg2{
	border:0px;
	background-image:url(../images/page/button-tabbg2.gif); 
	width:68px; 
	height:20px;
	margin-right:4px;
	cursor:pointer;
}
.egd-page-buttom-tabbg3{
	border:0px;
	background-image:url(../images/page/button-tabbg3.gif); 
	width:80px;
	height:20px; 
	margin-right:4px;
	cursor:pointer;
}
.egd-page-buttom-tabbg4{
	border:0px;
	background-image:url(../images/page/button-tabbg4.gif); 
	width:135px;
	height:20px; 
	margin-right:4px;
	cursor:pointer;
}
.egd-page-button2-tabbg1{
	border:0px;
	background-image:url(../images/page/button2-tabbg1.gif); 
	width:56px; 
	height:20px; 
	margin-right:4px;
	cursor:pointer;
}
.egd-page-button2-tabbg2{
	border:0px;
	background-image:url(../images/page/button2-tabbg2.gif); 
	width:68px; 
	height:20px;
	margin-right:4px;
	cursor:pointer;
}
.egd-page-button2-tabbg3{
	border:0px;
	background-image:url(../images/page/button2-tabbg3.gif); 
	width:80px;
	height:20px; 
	margin-right:4px;
	cursor:pointer;
}
/*弹出窗口的表单****************OLD********************************/
/*背景*/
.egd-opneWindow-form-bg{
	background-color:#F3F8FB;
}
/*标题*/
.egd-opneWindow-form-title{
	font-weight:bold; 
	font-size:14px;
	text-indent:10px;
	height:30px;
	line-height:30px;
}
/*表单外套*/
.egd-opneWindow-form-wrap{
	padding:6px;
	clear:both; 
}
/*对话框中的视图边框和背景*/
.egd-view-dlg-wrap{
	border:1px solid #A2CBE8;
	background-color:#FFFFFF;
}
/*树中的视图边框和背景*/
.egd-tree-wrap{
	border-top:1px solid #808080;
	border-right:1px solid #D4D0C8;
	border-bottom:1px solid #D4D0C8;
	border-left:1px solid #808080;
	background-color:#F8FAFD;
}

/*树中的单位节点背景*/
.egd-treeNode-unit {
    background-image:url(../images/tree/treeNode_unit.gif) !important;
}

/*树中的部门节点背景*/
.egd-treeNode-department {
    background-image:url(../images/tree/treeNode_department.gif) !important;
}
/*附件表格样式*/
.div_attachment table{
	width:100%;
}
/* css使pre自动换行 */
.egd-view-pre {
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
} 
/*视图中的搜索样式*/
.egd-view-search-bg{
	width:100%;
	background-color:#F8FAFD;
	background-image:url(../images/page/egd-view-search-bg.png); 
	border-bottom:1px solid #BAD1E0;
	background-position:bottom;
	background-repeat:repeat-x;
}
.egd-view-search-toolbarBg{
	width:100%;
	height:26px;
	line-height:26px;
	background-color:#EDEEEF;
	border-bottom:1px solid #E0DEE0;
}
.search-startSearch{
	margin-top:3px;
	margin-left:6px;
	margin-right:6px;
	width:73px;
	height:19px;
	background-image:url(../images/page/startSearch.gif);
	background-repeat:no-repeat;
	float:left; 
	cursor:pointer;
}
.search-cleanCondition{
	margin-top:3px;
	margin-left:6px;
	margin-right:6px;
	width:73px;
	height:19px;
	background-image:url(../images/page/cleanCondition.gif);
	background-repeat:no-repeat; 
	float:left; 
	cursor:pointer;
}
