/*
 * 工具条按钮样式配置
 * @author dragon
 * @date 2007-08-31
 */
.egd-dlgBg-Img{
	background-image:url(../../images/dlg/toolbar_bg.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
}
/* 工具条容器 */ 
.egd-dlgToolbar-container{
    height:30px;
    padding:0px;
    margin:5px;
    background-repeat:repeat-x;
    background-image:url("../../images/dlg/toolbar_bg.gif");
}

/* 按钮容器 */
.egd-dlgButton-container {
    cursor:default;
    float:left;
    height: 22px;
    width: auto;
    padding: 0px;
    margin: 4px 3px 0px 3px;
    border: 0px solid blue;
	cursor:pointer;
}
/* 按钮左圆角区 */
.egd-dlgButton-left {
    float:left;
    height: 22px;
    width: 4px;
    padding: 0px;
    margin: 0px;
    border: 0px solid blue;
    background-repeat: no-repeat;
	background-image:url(../../images/dlg/button_left.gif);
}
.egd-dlgButton-container-over .egd-dlgButton-left {
    background-image:url(../../images/dlg/button_left_over.gif);
}
.egd-dlgButton-container-down .egd-dlgButton-left {
    background-image:url(../../images/dlg/button_left_down.gif);
}
.egd-dlgButton-container-disabled .egd-dlgButton-left {
    background-image:url(../../images/dlg/button_left_disabled.gif);
}

/* 按钮右圆角区 */
.egd-dlgButton-right {
    float:left;
    height: 22px;
    width: 4px;
    padding: 0px;
    margin: 0px;
    border: 0px solid blue;
    background-repeat: no-repeat;
	background-image:url(../../images/dlg/button_right.gif);
}
.egd-dlgButton-container-over .egd-dlgButton-right {
    background-image:url(../../images/dlg/button_right_over.gif);
}
.egd-dlgButton-container-down .egd-dlgButton-right {
    background-image:url(../../images/dlg/button_right_down.gif);
}
.egd-dlgButton-container-disabled .egd-dlgButton-right {
    background-image:url(../../images/dlg/button_right_disabled.gif);
}

/* 按钮文字区 */
.egd-dlgButton-center { 
    float:left;
    height: 22px;
    padding: 0px;
    margin: 0px;
    border: 0px solid blue;
    line-height:22px;
    background-repeat: repeat-x;
    vertical-align: middle;
    overflow:hidden;
	background-image:url(../../images/dlg/button_center.gif);
}

/* 按钮禁用区 */
.egd-dlgButton-container-disabled .egd-dlgButton-center{
	color:#a0a0a0;
}

.egd-dlgButton-container-over .egd-dlgButton-center {
    background-image:url(../../images/dlg/button_center_over.gif);
}
.egd-dlgButton-container-down .egd-dlgButton-center {
    background-image:url(../../images/dlg/button_center_down.gif);
    padding-top: 1px;
}
.egd-dlgButton-container-disabled .egd-dlgButton-center {
    background-image:url(../../images/dlg/button_center_disabled.gif);
    color:#ACA899;
}
/* 按钮图片区 */
.egd-dlgButton-center-icon {
    float:left;
    height: 16px;
    width: 16px;
    padding: 0px;
    margin: 3px 0px 3px 0px;
    border: 0px solid blue;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-image: url(../../images/dlg/button_defaultIcon.gif);*/
}
.egd-dlgButton-center-text { 
    float:left;
    height: 16px;
    padding: 1px 0px 0px 1px;
    margin: 2px 0px 3px 0px;
    border: 0px solid blue;
}
.egd-dlgButton-center-arrow {
    float:left;
    height: 16px;
    width: 16px;
    padding: 0px;
    margin: 3px 0px 3px 0px;
    border: 0px solid blue;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../../images/dlg/button_center_arrow.gif);
}
/* 按钮分隔条 */
.egd-dlgButton-separator {
    float:left;
    height: 22px;
    width: 2px;
    padding: 0px;
    margin: 4px 2px 0px 2px;
    border: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../../images/dlg/toolbar_separator.gif);
}    
/*默认两个按钮的宽度*/  
#btn{
	width:110px;
}
#btn2{
	width:110px;
}
.egd-dlg-btn-align{
	text-align:right;
	vertical-align:top;
}