<objects xmlns="http://www.springframework.net">
  <description>Spring Context配置文件</description>
  <!-- 组织架构：部门级别 -->
  <object id="OULevelDao" type="TSCommon.Core.Organize.Dao.Hibernate.OULevelDao, TSCommon.Core">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="OULevelServiceTarget" type="TSCommon.Core.Organize.Service.OULevelService, TSCommon.Core">
    <property name="OULevelDao" ref="OULevelDao" />
  </object>
  <object id="OULevelService" parent="TxProxyConfigurationTemplate">
    <property name="Target" ref="OULevelServiceTarget"/>
    <property name="ProxyInterfaces" value="TSCommon.Core.Organize.Service.IOULevelService"/>
  </object>
</objects>