<objects xmlns="http://www.springframework.net">
  <description>Spring Context配置文件</description>
  <!-- 组织架构：部门级别 -->
  <object id="GroupDao" type="TSCommon_Core.Organize.Dao.Hibernate.GroupDao, TSCommon_Core">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="GroupServiceTarget" type="TSCommon_Core.Organize.Service.GroupService, TSCommon_Core">
    <property name="GroupDao" ref="GroupDao" />
    <property name="RoleDao" ref="RoleDao" />
    <property name="UserDao" ref="UserDao" />
    <property name="OUInfoService" ref="OUInfoService" />
    <property name="RelationShipService" ref="RelationShipService" />
  </object>
  <object id="GroupService" parent="TxProxyConfigurationTemplate">
    <property name="Target" ref="GroupServiceTarget"/>
    <property name="ProxyInterfaces" value="TSCommon_Core.Organize.Service.IGroupService"/>
  </object>
</objects>