<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <description>系统登录和主页相关的Spring Web配置文件</description>

  <!--登录页面-->
  <object type="~/Login.aspx">
    <property name="RoleService" ref="RoleService"/>
    <property name="UserService" ref="UserService"/>
  </object>
  <!--主页-->
  <object type="~/TS_MainPage/Default.aspx">
    <property name="UserService" ref="UserService"/>
  </object>
</objects>