<objects xmlns="http://www.springframework.net">
  <description>Spring Context配置文件</description>
  <!-- 组织架构：级别 -->
  <object id="ATMDao" type="TSCommon.Core.ATM.Dao.Hibernate.ATMDao, TSCommon.Core">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ATMServiceTarget" type="TSCommon.Core.ATM.Service.ATMService, TSCommon.Core">
    <property name="ATMDao" ref="ATMDao" />
  </object>
  <object id="ATMService" parent="TxProxyConfigurationTemplate">
    <property name="Target" ref="ATMServiceTarget"/>
    <property name="ProxyInterfaces" value="TSCommon.Core.ATM.Service.IATMService"/>
  </object>
</objects>