<objects xmlns="http://www.springframework.net">
  <description>Spring Context配置文件</description>
  <!-- 组织架构：职务 -->
  <object id="JobTitleDao" type="TSCommon.Core.Organize.Dao.Hibernate.JobTitleDao, TSCommon.Core">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="JobTitleServiceTarget" type="TSCommon.Core.Organize.Service.JobTitleService, TSCommon.Core">
    <property name="JobTitleDao" ref="JobTitleDao" />
  </object>
  <object id="JobTitleService" parent="TxProxyConfigurationTemplate">
    <property name="Target" ref="JobTitleServiceTarget"/>
    <property name="ProxyInterfaces" value="TSCommon.Core.Organize.Service.IJobTitleService"/>
  </object>
</objects>